################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AnbDemoforPOC/AnbDemoforPOC
/AnbDemoforPOC/.vs/APIs/v16/Server/sqlite3
